.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
   padding: 15px; text-align: center;
   background-color: rgb(253, 242, 244);
 
}
.titulo{
  text-align: center; margin: 10px;
  background-color: rgb(253, 213, 220);
   padding: 10px;
}
.footer{
  text-align: center;
  padding: 20px; margin: 10px;
  background-color: pink;

}
button{
  margin: 20px;
  text-align: center; background-color: rgb(253, 213, 220);
  padding: 7px; border-color: pink;
}
#botonCarrito{
  text-align: end;
  background-color: pink;
  color: black;
  border:groove palevioletred ;
}
#home{
  border: groove palevioletred;
  background-color: peachpuff;
}
#nosotros{
  border:groove palevioletred ;
  background-color: peachpuff;
}
#contacto{
  border:groove palevioletred ;
  background-color: peachpuff;
}